/* 




#root {
  height: 100px;
  background-color: green;
} 


 




.log {
   display: flex;
   justify-content: right;
}  



.search {
  transform: translateX(-50%);
  max-width: 400px;
  z-index: 10;
}


*/



.Nav-Bar {
  height: 100px;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%; 
  -webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

div.userlogin {
  display: flex;
  justify-content: right;
  margin-right: 15px;
}
.locate {
  /* border-radius: 20%; */
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
} 

img.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}


.mapContainerStyle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.username {
  margin-right: 15px;
}

body {
  padding: 2rem;
  background-color: black;
}

img {
  height: 30px;
  width: 30px;
  /* border-radius: 20%; */
}
img:hover {
  cursor: pointer;
}


.profile {
  margin-top: -25px;
  display: flex;
  justify-content: right;
}

input.combobox-input {
  display: flex;
  justify-content: center;
  width: 95vw;
  height: 30px;
  border-radius: 5px;
  
}

.locate {
  display: flex;
  /* justify-content: right; */
}


