/* 


button {
  margin: 1em;
  padding: 1em 2em;
  cursor: pointer;
}

#root {
  height: 100px;
  background-color: green;
} 

.Nav-Bar {
  height: 100px;
  background-color: pink;
}
 
img.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}



.log {
   display: flex;
   justify-content: right;
}  

div.userlogin {
  display: flex;
  justify-content: right;

}

.search {
  transform: translateX(-50%);
  max-width: 400px;
  z-index: 10;
}


*/
.locate {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
} 



.mapContainerStyle {
  display: flex;
  justify-content: center;
}

body {
  padding: 2rem;
  background-image: linear-gradient(to right, rgb(52, 91, 75), rgb(51, 139, 147));
}

img {
  height: 30px;
  width: 30px;
  border-radius: 20%;
}
img:hover {
  cursor: pointer;
}


.profile {
  margin-top: -37px;
  display: flex;
  justify-content: right;
}

input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
}
